+b.SECTION(class="differences")
  .container
    +b.DIV(class="title-block")
      +e.H2(class="title") В чем отличия Infobip?
      +e.P(class="description") Мы знаем о технологиях рассылок все, потому что мы создали крупнейшую в мире мультиканальную платформу A2P рассылок.
    .grid
      .col-4
        +e.DIV(class="block")
          .icon
            img(src="img/1.svg")
          h5.title МЕЖДУНАРОДНЫЙ СЕРВИС И МЕСТНЫЙ ОФИС
          p Более 50 офисов и локальных команд по всему миру позволяют нам собирать уникальную отраслевую экспертизу и делиться ею с вами.

      .col-4
        +e.DIV(class="block")
          .icon
            img(src="img/2.svg")
          h5.title Мы соединим вас с миром
          p Международное покрытие в 190 странах мира поможет достичь самых амбициозных целей ваших коммуникационных кампаний..

      .col-4
        +e.DIV(class="block")
          .icon
            img(src="img/3.svg")
          h5.title ПОДДЕРЖКА НА ВАШЕМ ЯЗЫКЕ
          p 24/7 наши специалисты тех поддержки показывают лучшую скорость реакции в индустрии. Используйте нашу базу знаний, напишите нам письмо или задайте вопрос в онлайн чате - вы получите мгновенный ответ.
