.differences
  padding: $section-padding
  background: url('../img/background-1.png') bottom left no-repeat #fff
  .title-block
    margin-bottom: 60px
  .grid
    justify-content: center
    > div
      padding: 0 30px
      &:first-child
        .differences__block
          &:before
            display: none
  &__block
    text-align: center
    height: 100%
    position: relative
    margin-top: 30px
    margin-bottom: 30px
    &:before
      content: ''
      width: 1px
      height: 100%
      position: absolute
      left: -30px
      top: 0
      background: $light
    .icon
      margin-bottom: 15px
    p
      line-height: 1.7
      font-size: $main-font-size
    .title
      font-weight: 500
      font-size: 18px
      text-transform: uppercase
      margin-bottom: 30px

@media only screen and (max-width:1024px)
  .differences
    &__block
      margin-bottom: 0
      margin-top: 0
      &::before
        display: none
    .grid
      flex-wrap: wrap
      > div
        @include grid-col($col: 12, $gutter: 20px)
