mixin item(data)

  each item in data.items
    +b(class="product-item __item")
      // скидка
      if item.sale
        +e.SPAN.sale-mark #{item.sale}

      +e.P(class="__text") #{item.text}
      
      +b.BUTTON(class=item.class) #{item.btn}
