extends ../layout/layout

block variables 
  - var pageClass = 'body__index';
  - var pageTitle = "Коммуникационная платформа для бизнеса";
  - var pageDescription = ""
  - var pageName = "index"

block content
  +b.MAIN
    include ../channels/channels
    include ../counts/counts
    include ../connect/connect
    include ../differences/differences
    include ../claim/claim
