extends ../layout/layout

block variables 
  - var pageClass = 'body-index';
  - var pageTitle = "Коммуникационная платформа для бизнеса";
  - var pageDescription = ""
  - var pageName = "index"

block content
  +b.MAIN
      
