// footer
+b.FOOTER.footer
  .container
    .grid
      .col-1
        +e.A(href="/", class="__logo")
          img(src="img/logo/logo.svg")
      .col-3
      .col-3
      .col-3
      .col-3
      .col-3
