// footer
+b.FOOTER.footer
  .container
    .grid
      .col-1
        +e.A(href="/", class="__logo")
          img(src="img/logo/logo.svg")
      .col-2
        +e.UL(class="links-list")
          li
            +e.P(class="title-list") Материалы
          li
            a(href="#") Документация по API
          li
            a(href="#") Анализ кейсов
          li
            a(href="#") Брошюры
          li
            a(href="#") Вебинары
          li
            a(href="#") Блог
          li
            a(href="#") Инжиниринг
          li
            a(href="#") FAQ
          li
            a(href="#") Глоссарий
      .col-2
        +e.UL(class="links-list")
          li
            +e.P(class="title-list") Услуги
          li
            a(href="#") SMS
          li
            a(href="#") Мобильные рассылки
          li
            a(href="#") Двухфакторная аутентификация
          li
            a(href="#") Номер для приема SMS
          li
            a(href="#") Проверка номера
          li
            a(href="#") Голосовые услуги
          li
            a(href="#") Push-уведомления
          li
            a(href="#") Электронная почта
          li
            a(href="#") Месседжеры
          li
            a(href="#") OMNI
      .col-2
        +e.UL(class="links-list")
          li
            +e.P(class="title-list") Компания
          li
            a(href="#") О нас
          li
            a(href="#") Офисы
          li
            a(href="#") Новости и пресса
          li
            a(href="#") Мероприятия
          li
            a(href="#") Контакты
          li
            a(href="#") Ассоциации
          li
            a(href="#") Сертификаты и награды
          li
            a(href="#") Карьера
      .col-2
        +e.UL(class="links-list")
          li
            +e.P(class="title-list") Партнеры
          li
            a(href="#") Партнерская программа A2P
          li
            a(href="#") Агрегаторы
          li
            a(href="#") Оптовые продажи
      .col-3
        ul.social-icons
          li.vk
            a(href="#", target="_blank", title="Вконтакте")
          li.facebook
            a(href="#", target="_blank", title="Facebook")
          li.instagram
            a(href="#", target="_blank", title="Instagram")
  +e.DIV(class="bottom")
    .container
      p.copyright Copyright © 2006-2018 Infobip ltd.
      +e.UL(class="bottom-menu")
        li
          a(href="#") Условия использования
        li
          a(href="#") Privacy policy
        li
          a(href="#") Карта сайта
