@import "node_modules/flexbox-grid-mixins/sass/flexbox-grid-mixins"


.container
  margin-right: auto
  margin-left: auto
  padding-left: 10px
  padding-right: 10px

.grid
  @include grid($flex-wrap:wrap, $gutter:10px)


@media (min-width: 768px)
  .container
    width: 740px

@media (min-width: 1024px)
  .container
    width: 960px

@media (min-width: 1240px)
  .container
    width: 1200px
