// header
+b.HEADER(class="header", style="background-image:url('img/index.jpg')")
  .container
    .grid
      .column
        +e.H1(class="__title") Коммуникационная платформа для бизнеса
        +e.H2(class="__subtitle") Мультиканальные рассылки для крупнейших международных компаний.
        +b.A(href="#", class="btn --accent --hover-scale __btn") Оставить заявку
