// header
.header
  background: $light
  color:#fff
  background-position: center
  background-size: cover
  position: relative
  background-repeat: no-repeat
  overflow: hidden
  height: 775px
  &__title
    font-size: 80px
    font-weight: 500
    font-style: normal
    line-height: 1.1em
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)
  &__subtitle
    margin-top: 40px
    font-size: 32px
    font-style: normal
    line-height: 1.1em
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)
  &__btn
    display: inline-block
    vertical-align: top
    margin-top: 40px
  .container
    height: 100%
  .grid
    height: 100%
    align-items: center
  .column
    @include grid-col($col:10, $gutter:15px)

@media only screen and (max-width:992px)
  .header
    &__title
      font-size: 60px
    .column
      @include grid-col($col:10, $gutter:30px)

@media only screen and (max-width:767px)
  .header
    height: auto
    padding-top: 60px
    padding-bottom: 60px
    &__title
      font-size: 30px
    &__subtitle
      font-size: 17px
