+b.SECTION(class="counts")
  .container
    +b.DIV(class="title-block")
      +e.H2(class="title") Доставьте ваше сообщение по любому каналу на любое устройство в любую точку мира.
    .grid
      .col-3
        +e.DIV(class="block")
          p.count 200+ 
            span млрд
          p.desc ЗАПРОСОВ К API ЕЖЕГОДНО
      .col-3
        +e.DIV(class="block")
          p.count 7+ 
            span млрд
          p.desc Транзакций ежемесячно
      .col-3
        +e.DIV(class="block")
          p.count 4+ 
            span млрд
          p.desc Мобильных устройств в покрытии
      .col-3
        +e.DIV(class="block")
          p.count 800+ 
            span млрд
          p.desc Сотовых операторов
