+b.DIV(class="channels")
  .container
    +b.DIV(class="title-block __title")
      +e.H2(class="title") Мультиканальные решения: сегодня и в будущем
    .grid
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name SMS
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name Голосовые рассылки
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name Push уведомления
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name Email рассылки
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name Месседжеры
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name двухфакторная аутентификация
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name Проверка номера
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name Чат-боты
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name RSC Рассылки
      .col-2
        +e.A(href="#", class="__block")
          .icon
            img(src="img/channels/icon1.svg")
          p.name Интернет вещей
