+b.SECTION(class="claim")
  .container
    .grid
      .col-7
        +e.H2(class="title") Глобальные коммуникации в один клик.
      .col-5
        +e.A(class="btn btn --border --hover-scale") Оставить заявку
