.navigation
  display: flex
  align-items: center
  position: fixed
  left: 0
  right: 0
  top: 0
  height: 74px
  transform: translateY(60px)
  align-items: center
  padding: 0 30px
  transition: all .5s ease
  z-index: 999
  color: #fff
  &--not-top
    background: $dark
  &--pinned
    transform: translateY(-100px)
  *
    transition: all .2s ease
    font-size: 14px
  &:hover
    background: $dark
  ul
    display: flex
    height: 100%
    margin-right: auto
    li
      height: 100%
      a
        text-transform: uppercase
        height: 100%
        display: block
        padding: 30px 30px
        color:#fff
        font-weight: 500
        &:hover
          color: $main-color
  .btn
    &:hover
      color: $main-color
  .right
    margin-left: auto
  &__btn
    padding: 10px 30px
    &:hover
      color: $main-color
      border-color: $main-color
  &__logo
    margin-right: 30px
    img
      width: 150px
      display: block

@media only screen and (max-width:1360px)
  .navigation
    flex-wrap: wrap
    ul
      li
        a
          padding: 30px 15px
@media only screen and (max-width:1200px)
  .navigation
    align-items: flex-start
    flex-wrap: wrap
    flex-direction: column
    background: $dark
    left: 0
    top: 0
    height: 100vh
    width: 240px
    padding: 30px 15px
    overflow: auto
    transform: translateX(-240px) translateY(60px)
    &--open
      transform: translateX(0) translateY(60px)
    &__logo
      margin-bottom: 30px
    ul
      flex-wrap: wrap
      height: auto
      margin-bottom: 15px
      padding-bottom: 15px
      border-bottom: solid 1px rgba(255, 255, 255, 0.08)
      li
        width: 100%
        height: auto
        margin-bottom: 5px
        a
          padding: 10px
          height: auto
    .right
      margin-left: 0
      .btn
        width: 100%
        display: block
        margin-bottom: 15px
