+b.NAV(class="navigation")
  +e.A(href="#", class="__logo")
    img(src="img/logo/logo.svg")
  +e.UL
    li
      a(href="#") Бизнесу
    li
      a(href="#") Интеграция
    li
      a(href="#") Операторам
    li
      a(href="#") Материалы
    li
      a(href="#") Whatsapp business

  .right
    +e.A(class=" btn") Логин
    +e.A(class="__btn btn --border") Оставить заявку
